    <div class="alert alert-danger" id="error-div1"></div>
<div>
    {{error}}
</div>
<link rel="stylesheet" href="/public/css/login.css">

    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h1>LOGIN</h1>
          </div>
        </div>
            <form class="login-form" action="/login" id="login-form" method="POST">
            <label for="username">Enter Username: </label>
            <input type="text" id="username" name="username" placeholder="Type username"><br>
            <label for="password">Enter Password: </label>
            <input type="password" id="password" name="password" placeholder="Type password"><br>
            <input type="submit" value="login" class="btn-p">
          <p class="message">Not registered?  <a href="/login/signup">Create an account</a></p>
        </form>
      </div>
    </div>
